@model She___He_Store.Models.UserLogin

<!-- Your HTML and Razor code here -->
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style type="text/css">
    body {
        margin-top: 20px;
        background: #f8f8f8
    }

    .container {
        padding: 20px;
    }

    #saveForm1, #saveForm2 {
        display: none;
    }
</style>
<body>
    <div class="container">
        <div class="row flex-lg-nowrap">
            <div class="col">
                <div class="row">
                    <div class="col mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="e-profile">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto mb-3">
                                            <div class="mx-auto" style="width: 140px;">
                                                <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                                    <img src=@Url.Content("~/HomeAssets/img/" + ViewBag.CustomerImg) asp-append-version="true" width="140" height="140" style="border-radius: 20%;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">

                                            <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">@Model.Customer?.FirstName @Model.Customer?.LastName</h4>
                                                <p class="mb-0">#@Model.Customer?.FirstName </p>
                                                <div class="text-muted"><small>@Model.Customer?.RegistrationDate</small></div>
                                                <div class="mt-2">
                                                    <button class="btn btn-primary" type="button" onclick="document.getElementById('hiddenFileInput').click();">
                                                        <i class="fa fa-fw fa-camera"></i>
                                                        <span>Change Photo</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card p-3">
                                                <div class="e-navlist e-navlist--active-bg">
                                                    <ul class="nav">
                                                        <li class="nav-item"><a class="nav-link px-2 active" asp-controller="Home" asp-action="Index"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span></a></li>
                                                    </ul>
                                                    <ul class="nav">
                                                        <li class="nav-item"><a class="nav-link px-2 active" asp-controller="Home" asp-action="ContactUs"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Contact Us</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a class="active nav-link">Settings</a></li>
                                    </ul>
                                    <form asp-action="Edit" asp-controller="UserLogins" method="post" enctype="multipart/form-data">

                                        <div class="tab-content pt-3">
                                            <div class="tab-pane active">
                                                <div class="row">
                                                    <div class="col">

                                                        <div class="row">

                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <input asp-for="Customer.FirstName"
                                                                    name="fn" class="form-control" value="@Model.Customer?.FirstName" />
                                                                    <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <input asp-for="Customer.LastName" class="form-control" value="@Model.Customer?.LastName" />
                                                                    <span asp-validation-for="Customer.LastName" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <input asp-for="Customer.Address" class="form-control" value="@Model.Customer?.Address" />
                                                                    <span asp-validation-for="Customer.Address" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <input asp-for="Customer.Phone" class="form-control" value="@Model.Customer?.Phone" />
                                                                    <span asp-validation-for="Customer.Phone" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <input asp-for="Customer.ImageFile" accept="Image/*" type="hidden" class="form-control" id="fileInput" />
                                                                    <span asp-validation-for="Customer.ImageFile" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <input type="file" id="hiddenFileInput" style="display: none;" />
                                                            <input asp-for="Customer.RegistrationDate" type="hidden" class="form-control" />
                                                            <div class="form-group">
                                                                <input type="submit" value="Save" class="btn btn-primary" id="saveForm1" />
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                                <div class="row">
                                                    <div class="col-12 col-sm-6 mb-3">
                                                        <div class="mb-2"><b>Sensitive Credentials</b></div>
                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                        <input type="hidden" asp-for="Id" />

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                            <input asp-for="UserName" class="form-control" />
                                                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <input asp-for="Password" class="form-control" type="password" />
                                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <input type="hidden" asp-for="Role.Id" />
                                                        <input type="hidden" asp-for="Customer.Id" />
                                                        <div class="form-group">
                                                            <input type="submit" value="Save" class="btn btn-primary" id="saveForm2" />
                                                        </div>
                                            </div>

                                                    </div>
                                    </form>
                                    <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                        <div class="mb-2"><b>Keeping in Touch</b></div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="custom-controls-stacked px-2">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="notifications-blog" checked>
                                                        <label class="custom-control-label" for="notifications-blog">Blog posts</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="notifications-news" checked>
                                                        <label class="custom-control-label" for="notifications-news">Newsletter</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="notifications-offers" checked>
                                                        <label class="custom-control-label" for="notifications-offers">Personal Offers</label>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col d-flex justify-content-end">
                                                            <input type="submit" id="saveBothForms" value="Save Changes" class="btn btn-primary" />
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
